.layout {
  display: flex;
  min-height: 100vh;
}

/* 
-------------------
--- LEFT PANNEL ---
-------------------
*/

.left_panel {
  max-width: 400px;
  height: 100vh;
  border-right: 5px solid lightgray;
  position: sticky;
  top: 0;
}

#welcome_staff {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightseagreen;
  padding: 5px;
}

#completed_orders {
  padding: 5px;
  margin: 10px;
  max-width: 300px;
  height: 300px;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  background-color: rgb(200, 255, 255);
  color: lightseagreen;
  border: none;
  border-radius: 5px;
}

#completed_orders ul li {
  font-size: 15px;
  padding-left: 15px;
  list-style-type: none;
}

#view_order {
  position: relative;
}

/* 
---------------------
--- MIDDLE PANNEL ---
---------------------
*/

.middle_panel {
  min-width: 50%;
  height: 100vh;
  border-right: 5px solid lightgray;
  overflow-y: auto;
}

.page_title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightseagreen;
  padding: 5px;
}

/* HEADER  */
.header {
  display: flex;
  gap: 10px;
  justify-content: left;
}

.logo {
  padding: 5px;
  margin: 5px 0px;
  width: 60px;
  height: 60px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: rgb(200, 255, 255);
  color: lightseagreen;
  border: none;  border-radius: 5px;
}

.search input {
  border: 3px solid;
  padding: 5px;
  margin: 5px 0px;
  width: 200px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  background-color: rgb(200, 255, 255);
  color: lightseagreen;
  border: none;  border-radius: 5px;
}

.filter #filter_button {
  border: 3px solid;
  padding: 5px;
  margin: 5px 0px;
  width: 60px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  background-color: rgb(200, 255, 255);
  color: lightseagreen;
  border: none;  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.logout a {
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  background-color: lightseagreen;
  color:rgb(200, 255, 255);
  border: none;  border-radius: 5px;
  text-decoration: none;
}

/* PRODUCT CARDS */
.product_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content:center;
}

.product_cards {
  border: 3px solid lightseagreen;
  width: 200px;
  height: 200px; 
  cursor: pointer;
}

.product_cards .product_img {
  width: 100px;
  height: 100px;
}

.product_cards .product_name {
  height: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  background-color: darkblue;
  color: gold;
}

.product_cards .product_price {
  height: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 15px;
  background-color: darkblue;
  color: gold;
}

/* 
--------------------
--- RIGHT PANNEL ---
--------------------
*/

.right_panel {
  flex: 1;
  border-right: 5px solid lightgray;
  height: 100vh;
  position: sticky;
  top: 0;
}

/* SELECTED PRODUCT */
#selected_product {
  display: flex;
  align-items: center;
}

#selected_product h3 {
  width: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: lightseagreen;
  padding: 5px;
}

#edit_product {
  padding: 5px;
  margin: 10px;
  max-width: 350px;
  height: 400px;
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  background-color: rgb(200, 255, 255);
  color: lightseagreen;
  border: none;
  border-radius: 5px;
}

#edit_product #quantity {
  padding: 0px 0px 25px 0px;;
}

#edit_product #customise label {
  font-size: 15px;
  margin-right: 10px;
  cursor: pointer;
}

#edit_product #customise #item_sizes{
  padding: 20px 0px;
}

/* SUMMARY */
#summary {
  padding: 5px;
  margin: 10px;
  max-width: 600px;
  max-height: 400px;
  font-weight: bold;
  font-size: 25px;
  background-color: rgb(200, 255, 255);
  color: lightseagreen;
  border: none;
  border-radius: 5px;
  overflow-y: scroll;
}

.summary_items {
  gap: 10px;
  margin: 10px 0px;
  padding: 5px;
  justify-content: left;
  font-size: 20px;
  border: 2px;
  border-radius: 10px;
  background-color: rgb(239, 255, 255);
}

/* BUTTONS */
button {
  min-height: 35px;
  width: auto;
  margin: 10px 5px;
  padding: 5px;
  font-weight: 500;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  color: gold;
  background-color: blueviolet;
  transition: 0.2s;
  cursor: pointer;
}

button:hover {
  background-color: gold;
  color: blueviolet;
}

#view_more {
  text-align: center;
}

#add_order, #confirm_order {
  text-align: left;
}

.qty_controls {
  font-size: 25px;
  width: 30px;
  height: 20px;
}

.remove_btn {
  color: gold;
  background-color: crimson;
}